{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/style/create-point.css">
    <link rel="stylesheet" href="/style/modal.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}
    <form action="/savepoint" method="POST">
        <h1>Cadastro do Ponto de Coleta
        </h1>
        <!-- fieldset cria um blocos-->
        <fieldset>
            <!-- Adiciona uma legenda para um bloco-->
            <legend>
                <h2>Dados da entidade</h2>
            </legend>
            <!-- Class Field cria os blocs para os input -->
        <div class="fild-group">
            <div class="field">
                <label for="name">Nome da Entidade</label>
                <input type="text" name="name" required="required" placeholder="Entidade">
            </div>
                <div class="field">
                <label for="name">Imagem da Entidade</label>
                <input type="url" name="image" required="required" placeholder="http//:">
            </div>
        </div>
            <div class="field">
                <div class="field">
                    <label for="number" name="tel">Contato</label>
                    <input type="tel" name="cel" placeholder="(XX) XXXXX-XXXX">
                </div>

                <div class="field">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" placeholder="@email.com" required="required">
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="address">Endereço</label>
                        <input type="text" name="address" placeholder="Logradouro">
                    </div>
                    <div class="field">
                        <label for="address2">Nº</label>
                        <input type="number" name="address2">
                    </div>
                </div>
                <div class="field">
                    <label for="complement">Complemento</label>
                    <input type="text" name="complement" placeholder="Bloco D / AP-222">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="states">Estado</label>
                    <select name="UF">
                        <option value="">Selecione o Estado</option>
                    </select>
                    <!-- Campo escontido -->
                    <input type="hidden" name="states">
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled">
                        <option value="">Selecione a cidade
                        </option>
                    </select>
                </div>
            </div>
        </fieldset>
        <!-- segunda coluna de figuras -->
        <fieldset>
            <legend>
                <h2>Itens de Coleta</h2>
            </legend>

            <div class="items-grid">
                <li data-id="Lampadas">
                    <img src="/assets/lampadas.svg" alt="lampadas">
                    <span>Lâmpadas</span>
                </li>
                <li data-id="Pilhas e Baterias">
                    <img src="assets/baterias.svg" alt="baterias">
                    <span>Baterias</span>
                </li>
                <li data-id="Papeis e Papelão">
                    <img src="assets/papeis-papelao.svg" alt="Papeis-Papelão">
                    <span>Papeis e Papelão</span>
                </li>
                <li data-id="Residos Eletronicos">
                    <img src="assets/eletronicos.svg" alt="eletronicos">
                    <span>Residos Eletronicos</span>
                </li>
                <li data-id="Resido Organicos">
                    <img src="assets/organicos.svg" alt="organicos">
                    <span>Residos Organicos</span>
                </li>
                <li data-id="Oleo">
                    <img src="assets/oleo.svg" alt="oleo">
                    <span>Oleo de Cozinha</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>
        <!-- adicionado buton para envio de formularios por isso o type submit-->
        <button type="submit">Cadastrar ponto de Coleta</button>
    </form>

{% endblock content %}

{% block modal %}

    {% if saved %}
        {%include "partials/point-created.html"%}
    {% endif %}

{% endblock modal %}



 <!--Elaboração do formulario -->
{% block script %}
    <!-- chmado no arquivo javaScript -->
    <script src="/scripts/create-point.js"></script>
{%endblock script %}